<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/chosen.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/solid.min.css}">

	<script src="https://kit.fontawesome.com/a4c335f472.js" crossorigin="anonymous"></script>
    <title>Importweb</title>
  </head>
  <body>
    
   <nav th:replace="fragmentos/template2 ::fragmento">
       
	</nav>
	
	<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/images/fotoinicio.jpg}" width="1000" height="600" alt="logo" align="middle"></img>
					</div>
				</div>
			</form>
		</div>
		
    <!-- Optional JavaScript; choose one of the two! -->
  
   
   <footer th:replace="fragmentos/template2 ::piedepagina"></footer>
  
  </body>
  
</html>